
h1 {
  font-weight: lighter;
  font-size: 20px;
  color: #000;
  text-align:left;
  padding-top:0px;
  font-family:Courier New;
}

li {
  list-style: none;
  margin: 10px 30px;
  display: inline-block;
  font-size: 20px;
  padding: 20px 20px;
  color: #000;
  border: 1px solid #000;
  border-radius: 50%;
  transition: .5s;
}

.media {
position: absolute;
top: 40%;
left: 50%;
transform: translate(-53%, -50%);
}

li:hover {
color: #c45656;
border: 1px solid #c45656;
transition: .5s;
}
